body{
    font-family: 'Roboto', sans-serif, Arial;
    height: 1100px;
    padding-top: 48px;
    padding-left: 62px;
}

a:link { 
    text-decoration: none; 
    color: inherit
}


a:visited { 
    text-decoration: none; 
    color: inherit
}


a:hover { 
    text-decoration: none; 
    color: inherit
}


a:active { 
    text-decoration: none; 
    color: inherit
}