.header{
    display:flex;
    flex-direction: row;
    position: fixed;
    top:0;
    left:0;
    right:0;
    justify-content: space-between;
    height:55px;
    align-items: center;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: white;
    z-index:100;
}

.header-logos{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}

.menu{
    width:24px;
    height:24px;
    margin-right: 23px;
    cursor: pointer;
}

.logo{
    width:90px;
    height:50px;
}

.search{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    max-width: 700px;
}

.search-bar{
    flex:1;
    height:36px;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    border-style:solid;
    padding-left: 10px;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.05);
    font-size: 16px;
}

.search-icon{
    width:22px;
    height:22px;
}

.search-button{
    border-color: rgb(224, 224, 224);
    border-style:solid;
    width:65px;
    height:40px;
    border-width: 1px;
    margin-left: -3px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
    background-color: rgb(243, 243, 243);
    padding: 8px 9px 6px 9px;
    cursor: pointer;
    position: relative;
}

.search-button .tooltip{
    background-color: gray;
    color:white;
    padding: 8px;
    border-radius: 2px;
    font-size:12px;
    font-weight: 500;
    position:absolute;
    bottom: -45px;
    left:5px;
    opacity:0;
    transition: opacity 0.15s;
}

.search-button:hover .tooltip{
    opacity:1;
}

.voice-icon{
    width:22px;
    height:22px;
}

.voice-button{
    border:none;
    margin-left: 10px;
    border-radius: 20px;
    padding: 8px 9px 6px 9px;
    background-color: rgb(246, 246, 246);
    cursor: pointer;
    position: relative;
}

.voice-button .tooltip{
    background-color: gray;
    color:white;
    padding: 8px;
    width: 130px;
    border-radius: 2px;
    font-size:12px;
    font-weight: 500;
    position:absolute;
    bottom: -45px;
    left:-50px;
    opacity:0;
    transition: opacity 0.15s;
}

.voice-button:hover .tooltip{
    opacity:1;
}

.sub-icons{
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding-right: 10px;
}

.icon{
    width:24px;
    height:24px;
}

.create-icon-button, .youtubeapps-icon-button, .notification-icon-button, .profile-icon-button{   
    background-color: white;
    border:none;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.create-icon-button .tooltip{
    background-color: gray;
    color:white;
    padding: 8px;
    border-radius: 2px;
    font-size:12px;
    font-weight: 500;
    position:absolute;
    bottom: -42px;
    left:-6px;
    opacity:0;
    transition: opacity 0.15s;
}

.create-icon-button:hover .tooltip{
    opacity:1;
}

.youtubeapps-icon-button .tooltip{
    background-color: gray;
    color:white;
    padding: 8px;
    width:80px;
    border-radius: 2px;
    font-size:12px;
    font-weight: 500;
    position:absolute;
    bottom: -42px;
    left:-30px;
    opacity:0;
    transition: opacity 0.15s;
}

.youtubeapps-icon-button:hover .tooltip{
    opacity:1;
}

.notification-icon-button .tooltip{
    background-color: gray;
    color:white;
    padding: 10px;
    border-radius: 2px;
    font-size:12px;
    font-weight: 500;
    position:absolute;
    bottom: -46px;
    left: -24px;
    opacity:0;
    transition: opacity 0.15s;
}

.notification-icon-button:hover .tooltip{
    opacity:1;
}

.notification-number{
    background-color: rgb(209, 3, 3);
    color:white;
    border-radius: 50%;
    font-size:9px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    top:-1px;
    right: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.profile{
    width:30px;
    height:30px;
    border-radius: 15px;
    cursor: pointer;
}
