.header{
    display:flex;
    flex-direction: row;
    position: fixed;
    top:0;
    left:0;
    right:0;
    justify-content: space-between;
    height:55px;
    align-items: center;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: white;
    z-index:100;
}

.header-logos{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.menu{
    width:25px;
    height:25px;
    margin-right: 20px;
    cursor: pointer;
}

.logo{
    width:90px;
    height:50px;
}

.search{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex:1;
    max-width: 700px;
}

.search-bar{
    flex:1;
    height:36px;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    border-style:solid;
    padding-left: 10px;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.05);
    font-size: 16px;
}

.search-icon{
    width:22px;
    height:22px;
}

.search-button{
    border-color: rgb(224, 224, 224);
    border-style:solid;
    width:65px;
    height:40px;
    border-width: 1px;
    margin-left: -3px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
    background-color: rgb(243, 243, 243);
    padding: 8px 9px 6px 9px;
    cursor: pointer;
}

.voice-icon{
    width:22px;
    height:22px;
}

.voice-button{
    border:none;
    margin-left: 10px;
    border-radius: 20px;
    padding: 8px 9px 6px 9px;
    background-color: rgb(246, 246, 246);
    cursor: pointer;
}

.sub-icons{
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding-right: 10px;
}

.icon{
    width:24px;
    height:24px;
}

.icon-button{   
    background-color: white;
    border:none;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.notification-number{
    background-color: rgb(209, 3, 3);
    color:white;
    border-radius: 50%;
    font-size:9px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    top:-1px;
    right: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.profile{
    width:30px;
    height:30px;
    border-radius: 15px;
    cursor: pointer;
}