.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    left:0;
    top:55px;
    bottom:0;
    width: 70px;
    background-color: white;
    padding-top:10px;
}

.sidebar-icon{
    width:25px;
    height:25px;
    margin-bottom: 4px;
    align-items: center;
    justify-content: center;
}

.sidebar-button{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100%;
    font-size: 10px;
    cursor: pointer;
}

.sidebar-button:hover{
    background-color: rgb(243, 243, 243);
}